<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Document
body
    h1 params:
        ul
            each val in balalaika
                li=val
    h1 query: 
    ul
        each index, val in query
            li
                span #{val} 
                span = #{index}
    h1 header:
    ul
        each val in headers
            li=val

    h1 cookie:
    ul
        each val in cookies
            li=val                